.projects {
    padding: 2rem;
    text-align: center;
}
  
.projects-heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.projects-heading.light {
    color:#1e1e1e;
}
  
.projects-subheading {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #cccccc;
}

.projects-subheading.light {
    color: #1e1e1e;
}
  
.projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}
  
.project-card {
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 1.5rem;
    width: 35vw;
    height: 30vw;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
  
.project-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #ffa726;
    z-index: 2;
}

.project-card img {
    width: 90%;
    height: 65%;
    object-fit: cover;
    position: absolute;
    top: 6rem;
    left: 2rem;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s ease;
}
  
.project-card:hover img {
    opacity: 0;
}

.project-description {
    font-size: 1rem;
    margin-top: 1rem;
    color: #dddddd;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;
  }
  
.project-card:hover .project-description {
    opacity: 1;
    top: 50%;
}

.project-link {
    color: #42a5f5;
    text-decoration: none;
}
  
.project-link:hover {
    text-decoration: underline;
}
  
@media (max-width: 1060px) {
    .project-card {
      width: 45vw;
      height: 40vw;
    }
  
    .project-title {
      font-size: 1.25rem;
    }
  
    .project-description {
      font-size: 0.9rem;
    }
  
    .project-link {
      font-size: 0.9rem;
    }
}
  
@media (max-width: 768px) {
    .project-card {
      width: 70vw;
      height: 50vw;
    }
  
    .project-title {
      font-size: 1.2rem;
    }
  
    .project-description {
      font-size: 0.85rem;
    }
  
    .project-link {
      font-size: 0.85rem;
    }

    .project-card img {
        left: 1rem;
    }
}
  
@media (max-width: 480px) {
    .project-card {
      width: 90vw;
      height: 70vw;
    }
  
    .project-title {
      font-size: 1rem;
    }
  
    .project-description {
      font-size: 0.8rem;
    }
  
    .project-link {
      font-size: 0.8rem;
    }

    
    .project-card img {
        left: 1rem;
    }
}