* {
    margin:0;
    box-sizing: border-box;    
    padding: 0px;
    text-decoration: none;
    background: transparent;
    font-family: 'Faculty Glyphic';
}

body{
    background: #180A0A;
    background-blend-mode: multiply;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
}